@import 'styles/constants';

.menu {
  border: 1px solid map-get($map: $colors, $key: gray);
  border-radius: 4px;
  box-shadow: 0 0 8px map-get($map: $colors, $key: gray);
  display: grid;
  gap: 12px;
  grid-template: auto / repeat(3, auto);
  padding: 12px;
}

.button {
  align-items: center;
  background: map-get($map: $colors, $key: white);
  border: 1px solid map-get($map: $colors, $key: gray);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  padding: 4px 0 0;
  width: 72px;
}

.title {
  font-size: 1rem;
  margin: 4px 0 0;
  white-space: nowrap;
}
