.menu {
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
  display: grid;
  gap: 12px;
  grid-template: auto / repeat(3, auto);
  padding: 12px;
}

.button {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  padding: 4px 0 0;
  width: 72px;
}

.button:disabled {
  opacity: 0.5;
}

.title {
  font-size: 1rem;
  margin: 4px 0 0;
  white-space: nowrap;
}
