@import 'styles/mixins';

.wrapper {
  background: #f3f3f3;
}

.header {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.logo {
  @include caveat;
  font-size: 3.2rem;
}

.menuTarget {
  position: relative;
}

.userImageWrapper {
  border-radius: 50%;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.userImage {
  height: 100%;
  width: 100%;
}

.menuWrapper {
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  z-index: 2;
}

.comicListWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
