@import 'sass-mq';
@import 'styles/constants';

html {
  @include mq-show-breakpoints;
  background: map-get($map: $colors, $key: light-gray);
  color: map-get($map: $colors, $key: black);
  font: 62.5% arial, sans-serif;
  overflow: hidden scroll;
  word-break: break-all;
  @include mq($until: mobile) {
    display: none;
  }
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  outline: none;
}

button,
img,
svg {
  vertical-align: top;
}

ul {
  list-style: none;
}

