@import 'sass-mq';
@import 'styles/constants';

.list {
  align-content: flex-start;
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(20%, 240px));
  justify-content: center;
  margin: 8px;
  max-width: 1300px;
  width: 100%;
  @include mq($until: tablet) {
    grid-template-columns: 1fr;
    margin: 4px;
  }
}

.item {
  background: #fff;
  border-radius: 4px;
  margin: 8px;
  padding: 12px;
  @include mq($until: tablet) {
    margin: 4px;
  }
}

.item:not(:first-child) {
  @include mq($until: tablet) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
