.wrapper {
  align-items: center;
  background: #f3cc79;
  border-radius: 16px;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  height: 32px;
  padding: 4px 4px 4px 8px;
}

.text {
  font-weight: 700;
  padding: 0 8px 0 4px;
}
