@import 'sass-mq';
@import 'styles/constants';

.wrapper {
  display: grid;
  grid-template: 1fr auto / 1fr;
}

.heading1Wrapper {
  display: none;
}

.inner {
  display: flex;
  justify-content: center;
  @include mq($until: mobileLandsc) {
    margin: 8px;
  }
  @include mq($from: mobileLandsc) {
    margin: 16px;
  }
}

.articlesWrapper {
  align-items: flex-start;
  display: grid;
  gap: 16px;
  max-width: 1300px;
  width: 100%;
  @include mq($until: mobileLandsc) {
    gap: 8px;
    grid-template-columns: 1fr;
  }
  @include mq($from: mobileLandsc) {
    grid-template-columns: 1fr 280px;
  }
}

.item {
  background: map-get($map: $colors, $key: white);
  border-radius: 8px;
  @include mq($until: mobileLandsc) {
    padding: 16px;
  }
  @include mq($from: mobileLandsc) {
    padding: 24px;
  }
}

.detail {
  grid-row: 1 / 2;
  @include mq($until: desktop) {
    grid-column: 1 / 3;
  }
  @include mq($from: desktop) {
    grid-column: 1;
  }
}

.series {
  grid-row: 2 / 3;
  @include mq($until: tablet) {
    grid-column: 1 / 3;
  }
  @include mq($from: tablet) {
    grid-column: 1;
  }
}

.information {
  @include mq($until: tablet) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  @include mq($from: tablet, $until: desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  @include mq($from: desktop) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}
